* {
    box-sizing: border-box;
  }
  
    body {
        font-family: "Open Sans",
        sans-serif; 
        font-size: 20px;
        color: #444;
        text-align: center;
        line-height: 1.5;
    }
    
    nav,
    footer {
        padding: 1% 0;
        background-color: #aaa;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        text-align: left;
    }
    
    .nav-name {
        font-size:80%;
        margin-left: 4%;
    }
    
    header {
        padding: 12% 0;
        height: 100vh;
    }

    .hero {
        width: 200px;
        height: auto;
        display: block;
        position: relative;
        top: 10%;
        margin: auto;
        border: 2px black solid;
        border-radius: 50%;
        padding: 10px;
    }

    h1 {
        position: relative;
        top: 10%;
        }

    .headline {
        position: relative;
        top: 5%;
    }

    .landing-button {
        position: relative;
        margin: auto;
        top: 190px;
    }
    
    section {
        min-height: 200px;
        padding: 6% 0;
        background-color: #bbb;
    }
    
    section:nth-child(even) {
        background-color: #ddd;
    }
  