* {
    box-sizing: border-box;
  }
  
    body {
        font-size: 20px;
        text-align: center;
        line-height: 1.5;
        font-family: 'Lato', sans-serif;
    }
    
    nav,
    footer {
        padding: 1% 0;
        background-color:#213F52;
        color: #D3D1CC;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        text-align: left;
    }
    
    .nav-name {
        margin-left: 4%;
        padding: 0;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    h2 {
        font-size: 120%;
        font-family: 'Arvo', serif;
        font-style: italic;
        font-weight: 100;
    }
    
    header {
        padding: 12% 0;
        height: 100vh;
        background-color:#D4D8D8;
    }

    .hero {
        width: 50%;
        max-width: 220px;
        height: auto;
        display: block;
        position: relative;
        top: 10%;
        margin: auto;
        border: 2px #656663 solid;
        border-radius: 50%;
        padding: 10px;
    }

    h1 {
        position: relative;
        font-family: 'Arvo', serif;
        top: 8%;
        color: #213F52;
        font-size: 150%;
        }

    .headline {
        position: relative;
        top: 6%;
        color: #656663;
        margin: 5% 5% 0 5%;
    }
    
    section {
        min-height: 200px;
        padding: 6% 0;
        background-color:#D4D8D8;
    }
    
    section:nth-child(even) {
        background-color: #D3D1CC;
    }

    #bioSection {
        background-color: #A8BACF;
    }

    h3 {
        font-size: 130%;
        color: #213F52;
        font-family: 'Arvo', serif;
    }

    h4 {
        color: #656663;
    }

    p {
        color:#656663;
    }

    #aboutMe {
        margin: 10% 0 10% 0;
    }

    #bioBox {
        margin: 3%;
    }

    #landingBioButton {
        position: relative;
        top: 12%;
        color: #D4D8D8;
        border: 1px solid black;
        margin: 0 20%;
        background-color:#213F52;
    }

    #bioProjectButton {
        color: #D4D8D8;
        border: 1px solid black;
        margin: 15% 20% 15%;
        background-color:#213F52;
    }

    #projectIntro {
        margin-left: 5%;
        margin-right: 5%;
    }

    #projectDetails {
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
    }

    .projectTitle {
        margin: 10% 0 18% 0;
    }

    .description {
        margin: 2% 2% 8% 6%;
    }

    .tech {
        text-align: center;
        margin-top: 20%;
    }

    .logoBox {
        text-align: center;
    }

    .logo {
        margin: 0 5% 5%;
        width: 15%;
    }

    .screenshot {
        width: 65%;
        height: auto;
        border: 2px solid #656663;
        border-radius: 20%;
        margin: 5%;
        padding: 5px;
    }

    .projectLinks {
        margin: 10% 0% 10% 0%;
    }

    .link {
        border: 1px solid rgba(33, 63, 82, 0.411);
        border-radius: 20%;
        padding: 3%;
        margin: 5% 3% 10% 3%;
        background-color: rgba(168, 186, 207, 0.822);
        color: #213F52;
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
        color: #D4D8D8;
        background-color: #213F52;
    }

    @media screen and (min-height: 780px) {

        h1 {
            top: 12%;
            }
    
        .headline {
            top: 10%;
        }


    }

    @media screen and (min-height: 1020px) {

        h1 {
            font-size: 4rem;
            }
    
        .headline {
            font-size: 2rem;
        }

        .hero {
            width: 300px;
            height: auto;
            display: block;
            top: 10%;
            padding: 15px;
        }

    }
  