* {
    box-sizing: border-box;
  }
  
    body {
        font-family: "Open Sans",
        sans-serif; 
        font-size: 20px;
        color: #444;
        text-align: center;
        line-height: 1.5;
    }
    
    nav,
    footer {
        padding: 1% 0;
        background-color: #aaa;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        text-align: left;
    }
    
    .nav-name {
        font-size:80%;
        margin-left: 4%;
    }
    
    header {
        padding: 12% 0;
        height: 100vh;
    }

    .hero {
        width: 200px;
        height: auto;
        display: block;
        position: relative;
        top: 10%;
        margin: auto;
        border: 2px black solid;
        border-radius: 50%;
        padding: 10px;
    }

    h1 {
        position: relative;
        top: 8%;
        }

    .headline {
        position: relative;
        top: 6%;
    }
    
    section {
        min-height: 200px;
        padding: 6% 0;
        background-color: #bbb;
    }
    
    section:nth-child(even) {
        background-color: #ddd;
    }

    @media screen and (min-height: 810px) {

        h1 {
            top: 12%;
            }
    
        .headline {
            top: 10%;
        }


    }

    @media screen and (min-height: 1020px) {

        h1 {
            font-size: 4rem;
            }
    
        .headline {
            font-size: 2rem;
        }

        .hero {
            width: 300px;
            height: auto;
            display: block;
            top: 10%;
            padding: 15px;
        }

    }
  